body {
	font-family: Verdana;
	width: auto;
	margin: auto;
	background-image: url("../img/fondo.jpg");
  background-repeat: repeat; /* Repite el fondo en el eje y (repeat-y)*/
	/*background-position: right;*/

}

ul{
    list-style-type: none;
    margin: auto;
		text-align: center;
		padding: 0;
		width: 1200px;
    overflow: auto;
    background-color: #333333;
}

li{
  float:left;
	width: 190px;
	border: solid;
	border-width: thin;
	border-color: rgba(0, 0, 0, 0.2);
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
		overflow: hidden;
}

li a:hover{
    background-color: #111111;
}

.logo-periodico {
	width: 1200px;
}

.main {
	margin: auto;
	display: table;
	background: rgb(255, 255, 255); /* Si no soporta transparencia, opaco */
	background: rgba(255, 255, 255, 0.8);
	font-size: 14px;
	color: #000000;
	width: 1200px;
	overflow: scroll;
}

.izquierda {
	width: 600px;
	height: 100%;
	float:left;
	padding: 30px;
}

.centro {
	width: 250px;
	height: 100%;
	float:left;
	padding: 30px;
}

.derecha {
	width: 150px;
	height: 100%;
  float:left;
	padding: 30px;
}

.cuadro-noticia:link, .cuadro-noticia:visited {
    color: black;
    text-decoration: none;
}

.cuadro-noticia:hover, .cuadro-noticia:active{
	display:block;
	background: rgb(0, 0, 0); /* Si no soporta transparencia, opaco */
	background: rgba(151, 58, 255, 0.1);
}

.noticia-importante{
	font-size: 19px;
	padding: 20px;
	margin-bottom: 40px;
	text-align:justify;
	border: solid;
	border-color: rgba(255, 255, 255, 0.3);
}

.resumen-noticia{
	padding: 6px;
	text-align:justify;
	margin-bottom: 5px;
	font-size: 15px;
	border: solid;
	border-color: rgba(255, 255, 255, 0.3);
}

.centrar-img{
	display: block;
	text-align: center;
}

.img-noticia-grande{
	width: 550px;
	height: 230px;
}

.img-noticia-mediana{
	width: 200px;
	height: 100px;
}

.img-noticia-pequeña{
	width: 100px;
	height: 50px;
}

.titular-grande{
	text-align: center;
	font-size: 30px;
}

.titular-mediano{
	text-align: center;
	font-size: 22px;
}

.titular-pequeño{
	text-align: center;
	font-size: 15px;
}

.pie-de-pagina{
	margin: auto;
	margin-top: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 1200px;
	overflow: hidden;
	background-color: #333333;

	display: block;
	text-align: center;
	font-size: 11px;
	color: lightgray;
}
